// utilisation d @use sur les utils sur chaque fichier qui en a besoin
// @use est local, il ne peut pas acceder au @use des autres fichier
@use "../utils/variables" as *;

body{
    font-family: $principal-font;
}
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.section__title{
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
}
i{
    margin-right: 10px;
}