// utilisation d @use sur les utils sur chaque fichier qui en a besoin
// @use est local, il ne peut pas acceder au @use des autres fichier
@use "../utils/variables" as *;

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: $principal-font;
}

h2{
    font-size: 24px;
    font-weight: 700;
}
i{
    margin-right: 10px;
}