body {
  font-family: roboto;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.section__title {
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}

i {
  margin-right: 10px;
  width: 15px;
}

a {
  text-decoration: none;
  color: black;
}

.section__resto img {
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 150px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  margin: 5px;
}

.card-subtitle {
  font-size: 17px;
  margin: 5px;
}

.header {
  display: flex;
  position: relative;
  justify-content: center;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header__logo {
  padding: 15px;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #353535;
  color: white;
}
.footer__title {
  justify-content: flex-start;
  font-family: Shrikhand;
  margin: 10px;
  padding-left: 5px;
  font-size: 18px;
}
.footer__list {
  font-family: roboto;
  margin-left: 10px;
  font-size: 16px;
  color: white;
}
.footer__list__link {
  margin: 5px;
  font-family: roboto;
  font-size: 16px;
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #EAEAEA;
}
.container #site-search {
  border: none;
  outline: none;
  background-color: #EAEAEA;
  font-family: roboto;
  font-weight: 500;
}
.container ::placeholder {
  font-size: 16px;
  color: #353535;
}

.main__info {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  margin: 5px;
}
.main__info__title {
  font-size: 24px;
  font-weight: 700;
}
.main__info__subtitle {
  margin: 10px;
  font-size: 18px;
}
.main__info__btn {
  position: relative;
  margin: 10px;
  background: linear-gradient(#9356DC, #FF79DA);
  align-self: center;
  border: none;
  font-family: roboto;
  color: white;
  border-radius: 25px;
  padding: 13px 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.main__info__btn:hover {
  opacity: 0.5;
}

.section__function {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.section__function__card {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
  background-color: #F7F7F7;
  border: none;
  margin: 5px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 70px;
  width: 40%;
  position: relative;
}
.section__function__card__number {
  color: white;
  background-color: #9356DC;
  height: 20px;
  line-height: 20px;
  width: 20px;
  position: absolute;
  left: -8px;
  border-radius: 10px;
  text-align: center;
  top: 25px;
}

.section__resto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.section__resto__card {
  background-color: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 210px;
  width: 50%;
}

/*
    ordre dossier use
    - vendors
    - base
    - layout
    - components
    - pages
    - themes

*/

/*# sourceMappingURL=style.css.map */
