@use "../utils/variables" as *;

.footer{
    display: flex;
    flex-direction: column;
    background-color: $footer-color;
    color: white;
    &__title{
        justify-content: flex-start;
        font-family: $secondary-font;
        margin: 10px;
        padding-left:5px;
        font-size: 18px;
    }
    &__list{ 
        margin:10px;
        
        &__link{
            color: white;
        }
    }


}